<div class="layout-footer">
    <div>
    <h2 class="text-white text-capitalize font-weight-light p-3"><strong> <i class="pi pi-chevron-up" style="text-align: -webkit-left"></i><br>FunLearn</strong></h2>
    </div>
    <div>
        <span><img src="assets/logo.png" width="20"></span>
    </div>
    <div>
        <p>Follow us on :</p>
    <i class="pi pi-youtube" style="font-size: 2rem ; color: #aa2424"></i><br>
    <i class="pi pi-twitter" style="font-size: 2rem ; color: #0a80bb"></i><br>
    <i class="pi pi-facebook" style="font-size: 2rem ; color: #0a80bb"></i><br>
    </div>
</div>
