<div class="p-grid">
    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreateCourseDialogFct()"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!courses || !courses.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedCourses" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="courses" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h3 class="p-m-0">Manage Courses</h3>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-course pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="course"></p-tableCheckbox>
                                </td>
                                <td [id]="course.id">{{course?.name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2"
                                            (click)="updateCourse(course)"
                                            icon="pi pi-pencil" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            (click)="findByCourseId(course.id)"
                                            icon="pi pi-list" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger"
                                            (click)="deleteCourse(course.id)"
                                            icon="pi pi-trash" pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{courses ? courses.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>


    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreateSectionDialog = true"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!selectedSections || !selectedSections.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedSections" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="sections" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h3 class="p-m-0">Manage sections</h3>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-section pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="sections"></p-tableCheckbox>
                                </td>
                                <td [id]="section.id">{{section?.section_name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updateSection(section)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            (click)="findBySectionId(section.id)"
                                            pRipple></button>
                                    <!--  <button (click)="delete(categoryItem.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                              pButton
                                              pRipple></button> -->
                                    <button (click)="deleteSection(section.id)"
                                            class="p-button-rounded p-button-danger"
                                            icon="pi pi-trash" pButton
                                            pTooltip="Remove categoryItem" tooltipPosition="top"
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{sections ? sections.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreateChapDialog = true"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!selectedChapitres || !selectedChapitres.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedChapitres" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="chapitres" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h3 class="p-m-0">Manage chapters</h3>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-chap pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="chap"></p-tableCheckbox>
                                </td>
                                <td [id]="chap.id">{{chap?.libelle}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updateChap(chap)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                            (click)="deleteById(chap.id)"
                                            pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{chapitres ? chapitres.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
</div>


<app-create-course></app-create-course>

