<section class="testimonial__area testimonial__overlay pt-175 pb-170"
   [ngStyle]="{background:'url(assets/img/testimonial/testimonial-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
   <div class="container p-relative">
      <div class="col-xxl-12">
         <div class="testimonial__slider swiper-container">
            <div class="testimonial__slider-inner ">
               <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true"
                  [navigation]="{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                }">

               </swiper>



            </div>
            <div class="swiper-button-next swiper-nav"><i class="far fa-arrow-right"></i></div>
            <div class="swiper-button-prev swiper-nav"><i class="far fa-arrow-left"></i></div>
         </div>
      </div>
   </div>
</section>
