<section class="testimonial__area testimonial__overlay pt-175 pb-170"
   [ngStyle]="{background:'url(assets/img/testimonial/testimonial-bg.jpg)',backgroundRepeat:'no-repeat',backgroundSize:'cover',backgroundPosition:'center'}">
   <div class="container p-relative">
      <div class="col-xxl-12">
         <div class="testimonial__slider swiper-container">
            <div class="testimonial__slider-inner ">
               <swiper class="swiper-wrapper" [slidesPerView]="1" [loop]="true"
                  [navigation]="{nextEl:'.swiper-button-next',prevEl:'.swiper-button-prev'}" [autoplay]="{
                    delay: 2500,
                    disableOnInteraction: false
                }">
                  <ng-template swiperSlide>
                     <div class="testimonial__item text-center">
                        <div class="testimonial__thumb">
                           <img src="assets/img/testimonial/pexels-pixabay-415829.jpg" alt="">
                        </div>
                        <div class="testimonial__info">
                           <h3>"This application is amazing at teaching the basics to someone with little to no knowledge of coding"</h3>

                           <div class="testimonial__info">
                              <h4>Nadia AMANGHOUR</h4>
                              <span>Developper</span>
                           </div>
                        </div>
                     </div>
                  </ng-template>
                  <ng-template swiperSlide>
                     <div class="testimonial__item text-center">
                        <div class="testimonial__thumb">
                           <img src="assets/img/testimonial/pexels-masha-raymers-2726111.jpg" alt="">
                        </div>
                        <div class="testimonial__info">
                           <h3>“ I am extremely pleased with what I learned in such a short amount of time”</h3>

                           <div class="testimonial__info">
                              <h4>Fatiha FIQI</h4>
                              <span>Developper</span>
                           </div>
                        </div>
                     </div>
                  </ng-template>
               <ng-template swiperSlide>
                  <div class="testimonial__item text-center">
                     <div class="testimonial__thumb">
                        <img src="assets/img/testimonial/testi-1.jpg" alt="">
                     </div>
                     <div class="testimonial__info">
                        <h3>“ This was an extremely informative application. the instructors are great and very easy to learn from”</h3>

                        <div class="testimonial__info">
                           <h4>Hassan ELBAHI</h4>
                           <span>Professor</span>
                        </div>
                     </div>
                  </div>
               </ng-template>
               </swiper>



            </div>
            <div class="swiper-button-next swiper-nav"><i class="far fa-arrow-right"></i></div>
            <div class="swiper-button-prev swiper-nav"><i class="far fa-arrow-left"></i></div>
         </div>
      </div>
   </div>
</section>
