<div class="p-grid profileCon mat-background-primary">
    <div class="p-col-2 p-shadow-6 rightMenu">
        <div class=" p-grid imgContainer">
            <div style="margin-left: 17%;margin-top: 10px;" class="p-col-12">
                <img [src]="user?.image" class="profileImg" alt="Profile">
            </div>
            <div class="p-col-12 userName">{{user?.fullname}}</div>
        </div>
        <div [style.background]="(selectedElement === 'PROFILE')? '#b8dde3': 'white'"
             [style.borderLeft]="(selectedElement === 'PROFILE')? '5px solid #b8dde3': 'none'"
             [style.color]="(selectedElement === 'PROFILE')? 'black': '#666666'"
             (click)="showMenuElemnt('PROFILE')"
             class=" menuElement p-grid">Profile
        </div>
        <div [style.background]="(selectedElement === 'SET')? '#b8dde3': 'white'"
             [style.borderLeft]="(selectedElement === 'SET')? '5px solid #b8dde3': 'none'"
             [style.color]="(selectedElement === 'SET')? 'black': '#666666'"
             (click)="showMenuElemnt('SET')"
             class=" menuElement p-grid">Security
        </div>




    </div>
    <div *ngIf="selectedElement === 'PROFILE'" class="p-col-8">
        <div class="p-grid">
            <div class="p-col-10 grandTitle">Profile</div>
            <div class="p-col-10 smallTitle">Manage your public profile and private information.</div>


            <div class="p-col-12">
                <div class="p-grid p-fluid">


                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Full name</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.fullname" name="prenom" type="text"
                                   pInputText placeholder="full name">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Username</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.username" name="username" type="text"
                                   pInputText placeholder="email">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Email</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.email" name="username" type="text"
                                   pInputText placeholder="email">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Country</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.country" name="country" type="text"
                                   pInputText placeholder="Country">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">City</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-map-marker"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.city" name="city" type="text" pInputText
                                   placeholder="City">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Address</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-home"></i></span>
                            <input  [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.address" name="addresse" type="text"
                                    pInputText placeholder="Address">
                        </div>
                    </div>

                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Age</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.age" name="age" type="number" pInputText
                                   placeholder="Age">
                        </div>
                    </div>



                    <div class="p-col-6">
                        <h4 style="color: #0102ff; font-weight: 500;">Phone</h4>
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
                            <input [style]="{ background: '#e9ecef'}" class="user-input-group" [(ngModel)]="user.phone" name="numero" type="text"
                                   pInputText placeholder="Phone">
                        </div>
                    </div>

                </div>
            </div>


            <div class="p-col-4"></div>


            <div class="p-col-4">
                <button pButton pRipple (click)="updateUser(user)"
                        label="Save changes" icon="pi pi-check" iconPos="left"
                        class="Startnow"></button>
            </div>

            <div class="p-col-4"></div>

        </div>
    </div>


    <!--  Settings  -->

    <div *ngIf="selectedElement === 'SET'" class="p-col-8">
        <div class="p-grid">
            <div class="p-col-10 grandTitle">Security</div>
            <div class="p-col-10 smallTitle">Manage your password and 2-step verification preferences</div>

            <div class="p-col-7">
                <div class="p-grid p-fluid">


                    <div class="p-col-12">
                        <h4 style="color: #0102ff; font-weight: 500;">New Password</h4>
                        <div class="p-inputgroup">
                            <span style="cursor: pointer" *ngIf="newPass.type === 'password'"
                                  (click)="showPass(newPass)" class="p-inputgroup-addon"><i
                                    class="pi pi-eye"></i></span>
                            <span style="cursor: pointer" *ngIf="newPass.type === 'text'" (click)="showPass(newPass)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye-slash"></i></span>

                            <input  [style]="{ background: '#e9ecef'}" #newPass class="user-input-group" [(ngModel)]="newPassword" name="newPassword"
                                    type="password"
                                    pPassword
                                    placeholder="new password">
                        </div>
                    </div>

                    <div class="p-col-12">
                        <h4 style="color: #0102ff; font-weight: 500;">Rep password</h4>
                        <div class="p-inputgroup">
                            <span style="cursor: pointer" *ngIf="Rep.type === 'password'" (click)="showPass(Rep)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye"></i></span>
                            <span style="cursor: pointer" *ngIf="Rep.type === 'text'" (click)="showPass(Rep)"
                                  class="p-inputgroup-addon"><i class="pi pi-eye-slash"></i></span>

                            <input  [style]="{ background: '#e9ecef'}" #Rep class="user-input-group" [(ngModel)]="newPasswordRepated"
                                    name="newPasswordRepated" type="password"
                                    pPassword
                                    placeholder="Repeat password">
                        </div>
                    </div>
                    <div class="p-col-4"></div>
                    <div class="p-col-4">
                        <button pButton pRipple (click)="changePassword()"
                                label="Change password" icon="pi pi-check" iconPos="left"
                                class="Startnow"></button>
                    </div>
                    <div class="p-col-4"></div>

                </div>
            </div>
        </div>
    </div>

