<div class="p-grid">




    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" setNewChapitre() "
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>



                            <button [disabled]="!chapitre || !chapitres.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedcours" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="chapitres" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Chapitres</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-chapitre pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="chapitres"></p-tableCheckbox>
                                </td>
                                <td  [id]="chapitre.id"> {{chapitre?.libelle}} </td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updatechapitre(chapitre)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                            (click)="deleteById(chapitre.id)"
                                            pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{chapitres ? chapitres.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- --------------Manage chapitre----------------------------  -->
<p-dialog header="New sujet" [(visible)]="showCreatechapitreDialog" [style]="{width: '40vw'}">

    <div class="p-grid">
        <div class="p-col-6">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="chapitre.code">
            <label for="inputtext">Code</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="chapitrelibelle" pInputText [(ngModel)]="chapitre.libelle">
           <label for="chapitrelibelle">Libelle</label>
       </span>
       </div>

       <div class="p-col-6">
        <span class="p-float-label">
            <input [style]="{width: '100%'}" type="file" (change)="onImageChange($event)" id="inputtext" pInputText >
            <label for="inputtext">image</label>
        </span>
        </div>

        
       <div class="p-col-6">
        <span class="p-float-label">
            <input [style]="{width: '100%'}" type="file" (change)="onVideoChange($event)" id="inputtext" pInputText >
            <label for="inputtext">Video</label>
        </span>
        </div>

       <div class="p-col-12">
            <span class="p-float-label">
                <textarea [style]="{width: '100%'}" id="float-input" rows="5" [(ngModel)]="chapitre.contenu"
                    pInputTextarea></textarea>
                <label for="float-input">Contenue</label>
            </span>
        </div>

    </div>



    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="savechapitre()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>

