<!--- ------------------------------------ create section -------------------------------------------------- -->


<p-dialog [(visible)]="showCreateSectionDialog" [style]="{width: '60vw'}" header="New section">
    <div class="p-grid">


        <div class="p-col-6">
            <span class="p-float-label">
            <input [(ngModel)]="section.section_name" [style]="{width: '100%'}" id="inputtext" name="name" pInputText type="text">
            <label for="inputtext">Name</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
            <input [(ngModel)]="section.id" [style]="{width: '100%'}" id="inputtext" name="id" pInputText
                   type="number">
            <label for="inputtext">Id</label>
        </span>
        </div>

        <div class="p-col-6">
            <p-dropdown [(ngModel)]="section.cours" [options]="courses" [showClear]="true"
                        [style]="{width: '100%'}" optionLabel="name" placeholder="Select a course"></p-dropdown>

        </div>



    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="save()" icon="pi pi-check" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
