<!--- ------------------------------------ Create Category -------------------------------------------------- -->


<p-dialog [(visible)]="showCreateCourseDialog" [style]="{width: '60vw'}" header="New course">
    <div class="p-grid">


        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Title</h5>
            <input [(ngModel)]="cours.name" [style]="{width: '100%'}" id="inputtext" name="name" pInputText type="text">
        </span>
        </div>




        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Rating</h5>
            <input [(ngModel)]="cours.rating" [style]="{width: '100%'}" id="inputtext" name="name" pInputText type="text">
        </span>
        </div>


        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Image url</h5>
            <input [(ngModel)]="cours.courseImage" [style]="{width: '100%'}" id="inputtext" name="name" pInputText type="text">
        </span>
        </div>
        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Old price</h5>
            <input [(ngModel)]="cours.oldPrice" [style]="{width: '100%'}" id="inputtext" name="name" pInputText type="text">
        </span>
        </div>
        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Price</h5>
            <input [(ngModel)]="cours.price" [style]="{width: '100%'}" id="inputtext" name="price" pInputText
                   type="number">
        </span>
        </div>

        <div class="p-col-6">
            <p-dropdown [(ngModel)]="cours.sujet" [options]="sujets" [showClear]="true"
                        [style]="{width: '100%'}" optionLabel="name" placeholder="Select a subject"></p-dropdown>

        </div>


        <div class="p-col-12">
            <span class="p-float-label">
                <h5>Description</h5>
                <textarea [(ngModel)]="cours.description" [style]="{width: '100%'}" id="float-input" pInputTextarea
                          rows="2"></textarea>
            </span>
        </div>


    </div>
    <ng-template pTemplate="footer">
        <p-button (click)="save()" icon="pi pi-check" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
