<div class="p-grid">
    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" setNewSection()  "
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!section || !sections.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedselections" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="sections" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Sections</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-section pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="sections"></p-tableCheckbox>
                                </td>
                                <td style="cursor: pointer;" (click)="onSelectSection(section)" [id]="section.id">{{section?.section_name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updatesection(section)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            (click)="findBySectionId(section.id)"
                                            pRipple></button>
                                    <button (click)="deleteSection(section.id)" class="p-button-rounded p-button-danger"
                                            icon="pi pi-trash" pButton
                                            pTooltip="Remove categoryItem" tooltipPosition="top"
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{sections ? sections.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)="setNewQuestion() "
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>



                            <button [disabled]="!question || !questions.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedcours" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="questions" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Quiz</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-question pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="questions"></p-tableCheckbox>
                                </td>
                                <td [id]="question.id">{{question?.question}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updateQuestion(question)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                            (click)="deleteById(question.id)"
                                            pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{questions ? questions.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>

</div>





<!--- ------------------------------------ Create Section ---------------------------------------------------->


<p-dialog header="New Sections" [(visible)]="showCreatesectionDialog" [style]="{width: '40vw'}">
    <div class="p-grid">
        <div class="p-col-8">
            <span class="p-float-label">
            <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="section.section_name">
            <label for="inputtext">nom de section</label>
        </span>
        </div>




    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveSection()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
<!-- --------------Manage sujet----------------------------  -->

<p-dialog header="New Question" [(visible)]="showCreatechapitreDialog" [style]="{width: '40vw'}">
    <div class="p-grid">
        <div class="p-col-12">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="questionText" row="2" pInputText [(ngModel)]="question.question">
            <label for="questionText">Question</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="repsonse1text" pInputText [(ngModel)]="question.response1">
            <label for="repsonse1text">reponse 1</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="repsonse1text" pInputText [(ngModel)]="question.response2">
            <label for="repsonse1text">reponse 2</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
           <input [style]="{width: '100%'}" type="text" id="repsonse1text" pInputText [(ngModel)]="question.response3">
            <label for="repsonse1text">reponse 3</label>
        </span>
        </div>

        <div class="p-col-6">
            <span class="p-float-label">
               <select id="formateurSelect" name="formateur" id="cars" form="carform" [(ngModel)]="question.correct">
                   <option *ngFor="let res of [question.response1 , question.response2 , question.response3]" 
                       [value]="res" >
                       {{res}}
                   </option>
               </select>
           <label for="formateurSelect">Formateur</label>
       </span>
       </div>


    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveQuestion()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
