h5{
  text-align: center;
  width: 200px
}
input{
  tet-align: center;
  width: 200px;
}
div.card{
  background-image: url("~src/assets/image3.jpg");
  margin-top: 200px;
  margin-bottom: 200px;
  margin-right: 200px;
  margin-left: 200px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  padding-left: 100px;

}
