<div class="p-grid">
    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreatecategorieDialog = true"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!categories || !categories.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedcategorie" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="categories" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Categories</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-categorie pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="categories"></p-tableCheckbox>
                                </td>
                                <td [id]="categorie.id">{{categorie?.cat_name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2"
                                            (click)="updateCategory(categorie)"
                                            icon="pi pi-pencil" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            (click)="findByCategoryId(categorie.id)"
                                            icon="pi pi-list" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger"
                                            (click)="deleteCategory(categorie.id)"
                                            icon="pi pi-trash" pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{categories ? categories.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>


    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreatecategorieItemDialog = true"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>


                            <button [disabled]="!categoryItems || !categoryItems.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedcategorie" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="categoryItems" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Categorie Items</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-categoryItem pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="categories"></p-tableCheckbox>
                                </td>
                                <td [id]="categoryItem.id">{{categoryItem?.name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updatecategoryItem(categoryItem)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            (click)="findByCategoryItemId(categoryItem.id)"
                                            pRipple></button>
                                    <!--  <button (click)="delete(categoryItem.id)" class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                              pButton
                                              pRipple></button> -->
                                    <button (click)="deleteCategoryItem(categoryItem.id)" class="p-button-rounded p-button-danger"
                                            icon="pi pi-trash" pButton
                                            pTooltip="Remove categoryItem" tooltipPosition="top"
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{categoryItems ? categoryItems.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-4">
        <div class="p-grid ">
            <div class="p-col">
                <div class="card" style="background-color: gainsboro;">
                    <p-toolbar styleClass="p-mb-4 ">
                        <ng-template pTemplate="left">
                            <button class="p-button-success p-mr-2 p-mb-2"
                                    (click)=" showCreatesujetDialog = true"
                                    icon="pi pi-plus" label="New" pButton
                                    pRipple style="width: 90px"></button>



                            <button [disabled]="!sujets || !sujets.length" class="p-button-danger p-mb-2"
                                    icon="pi pi-trash" label="Delete"
                                    pButton pRipple></button>
                        </ng-template>

                        <ng-template pTemplate="right">
                            <p-fileUpload [maxFileSize]="1000000" accept="" chooseLabel="Import"
                                          class="p-mr-2 p-mb-2 p-d-inline-block"
                                          label="Import" mode="basic"></p-fileUpload>
                            <button (click)="dt.exportCSV()" class="p-button-info p-mb-2" icon="pi pi-upload"
                                    label="Export" pButton
                                    pRipple></button>
                        </ng-template>
                    </p-toolbar>

                    <p-table #dt [(selection)]="selectedcategorie" [columns]="cols"
                             [globalFilterFields]="['Cat_name', 'Cat_code']" [paginator]="true"
                             [rowHover]="true"
                             [rows]="6" [value]="sujets" dataKey="id">
                        <ng-template pTemplate="caption">
                            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                                <h5 class="p-m-0">Manage Sujets</h5>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 3rem">
                                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                </th>
                                <th pSortableColumn="libelle">Title
                                    <p-sortIcon field="libelle"></p-sortIcon>
                                </th>
                                <th>Actions</th>
                            </tr>
                        </ng-template>
                        <ng-template let-sujet pTemplate="body">
                            <tr>
                                <td>
                                    <p-tableCheckbox [value]="sujets"></p-tableCheckbox>
                                </td>
                                <td [id]="sujet.id">{{sujet?.name}}</td>


                                <td>
                                    <button class="p-button-rounded p-button-success p-mr-2" icon="pi pi-pencil"
                                            (click)="updatsujet(sujet)"
                                            pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-info p-mr-2"
                                            icon="pi pi-list" pButton
                                            pRipple></button>
                                    <button class="p-button-rounded p-button-danger" icon="pi pi-trash"
                                            (click)="deleteById(sujet.id)"
                                            pButton
                                            pRipple></button>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            <div class="p-d-flex p-ai-center p-jc-between">
                                In total there are {{sujets ? sujets.length : 0 }} items.
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>

    </div>
</div>


<!--- ------------------------------------ Create Category -------------------------------------------------- -->


<p-dialog header="New Category" [(visible)]="showCreatecategorieDialog" [style]="{width: '40vw'}">
    <div class="p-grid">
        <div class="p-col-6">
            <span class="p-float-label">
                <h5>Name</h5>
            <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="categorie.cat_name">
        </span>
        </div>


        <div class="p-col-6">
             <span class="p-float-label">
                  <h5>Name</h5>
            <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="categorie.cat_code">

        </span>
        </div>


        <div class="p-col-12">
            <span class="p-float-label">
                 <h5>Description</h5>
    <textarea [style]="{width: '100%'}" id="float-input" rows="2" [(ngModel)]="categorie.description"
              pInputTextarea></textarea>
</span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="save()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>


<!--- ------------------------------------ Create Category item---------------------------------------------------->


<p-dialog header="New Category item" [(visible)]="showCreatecategorieItemDialog" [style]="{width: '40vw'}">
    <div class="p-grid">
        <div class="p-col-6">
            <span class="p-float-label">
                   <h5>Name</h5>
            <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="categoryItem.name">
        </span>
        </div>


        <div class="p-col-6">
            <h5>Category</h5>
            <p-dropdown [style]="{width: '100%'}" [options]="categories" [(ngModel)]="categoryItem.categorie" placeholder="Select a Category" optionLabel="cat_name" [showClear]="true"></p-dropdown>

        </div>


        <div class="p-col-12">
            <span class="p-float-label">
                   <h5>Description</h5>
    <textarea [style]="{width: '100%'}" id="float-input" rows="2" [(ngModel)]="categoryItem.description"
              pInputTextarea></textarea>
</span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveCategoryItem()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>




<!-- --------------Manage sujet----------------------------  -->

<p-dialog header="New sujet" [(visible)]="showCreatesujetDialog" [style]="{width: '40vw'}">
    <div class="p-grid">
        <div class="p-col-6">
            <span class="p-float-label">
                   <h5>Name</h5>
           <input [style]="{width: '100%'}" type="text" id="inputtext" pInputText [(ngModel)]="sujet.name">
        </span>
        </div>


        <div class="p-col-6">
            <h5>Category Item</h5>
            <p-dropdown [style]="{width: '100%'}" [options]="categoryItems" [(ngModel)]="sujet.categorieItem" placeholder="Select a CategoryItem" optionLabel="name" [showClear]="true"></p-dropdown>

        </div>


        <div class="p-col-12">
            <span class="p-float-label">
                <h5>Description</h5>
    <textarea [style]="{width: '100%'}" id="float-input" rows="2" [(ngModel)]="sujet.description"
              pInputTextarea></textarea>
</span>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="saveSujet()" label="Ok"
                  styleClass="p-button-text"></p-button>

    </ng-template>
</p-dialog>
