<div class="layout-topbar">

    <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
        <i class="pi pi-ellipsis-v"></i>
    </a>
    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <span class="layout-topbar-search">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Enter your search ">
    </span>

    <ul *ngIf="isUserLoggedIn"  class="topbar-menu" >
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <img [src]="user?.image" alt="roma-layout" />
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{user?.fullname}}</span>
                    <span *ngIf="user?.role === role.ADMIN" class="layout-profile-role">Admin</span>
                    <span *ngIf="user?.role === role.FORMATEUR" class="layout-profile-role">Formateur</span>
                    <span *ngIf="user?.role === role.APPRENANT" class="layout-profile-role">Apprenant</span>
                </div>
            </a>

        </li>
        <li [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarNotificationMenuActive}">
                <a href="#" class="layout-topbar-icon" (click)="appMain.onTopbarNotificationMenuButtonClick($event)">
                    <i class="topbar-icon pi pi-fw pi-bell"></i>
                </a>
            <ul class="fadeInDown">
                <li>
                    <a href="#">
                        <i class="pi pi-fw pi-user"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <li>
                    <a (click)="logOut()">
                        <i class="pi pi-fw pi-bell"></i>
                        <span>Log out</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

    <ul *ngIf="!isUserLoggedIn"  class="topbar-menu" >

        <p-splitButton label="Sign up" [model]="this.items" styleClass="p-button-text p-button-help mr-2 mb-2"></p-splitButton>
    </ul>
    <ul *ngIf="!isUserLoggedIn"  class="topbar-menu" style=" margin: 0 50px" >
        <button pButton pRipple routerLink="/login" type="button" label="Sign in" class="p-button-help"></button>
<!--        <p-splitButton label="Sign in" [model]="this.items" styleClass="p-button-text p-button-help mr-2 mb-2"></p-splitButton>-->
    </ul>



</div>
